body {
    background: url("../images/background_tile.jpg") repeat;

}

header {
    width: auto;
    min-height: 40px;
    background-color: rgb(245,245,245);
    border-bottom: double rgb(160,160,160)
}

nav {
    float:right;
}

nav li {
    display: inline-block;
    padding: 25px 0px 25px 15px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: darkgrey;
}

nav a {
    text-decoration:none;
}

hr {
    height: 1px;
    width: 100%;
    background-color: rgb(185, 185, 185);
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.page {
    width: 80%;
    max-width: 960px;
    margin: auto;    
}

.name-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 1.6em;
    font-weight: 800;
    color: white;
    background-color: rgb(0,51,153);
    padding: 20px 30px;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    min-height: 300px;
}

.about {
    padding: 30px;
}

.about h1 {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

.about img {
    display: inline-block;
    border: 1px gray;
    margin: 0 30px 30px 0;
}