body {
    background: url("../images/background_tile.jpg") repeat;

}

header {
    width: auto;
    min-height: 40px;
    background-color: rgb(245,245,245);
    border-bottom: double rgb(160,160,160)
}

nav {
    float:right;
}

nav li {
    display: inline-block;
    padding: 25px 15px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: darkgrey;
}

.page {
    width: 80%;
    max-width: 960px;
    margin: auto;    
}

.name-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: white;
    background-color: rgb(0,51,153);
    padding: 15px;

}

